<section class="image">
  <div class="wrapper">
    <div class="image-panel__inner">
      <img src="{{ block.image }}" class="image-panel__image" alt="{{ block.alt }}">
    </div>
  </div>
</section>